/*main color configure*/
$footerBg:#626160;
$headerBg:#f5f7ff;
$boxBg:#f7f6f6;
$greyBg:#eff1f6;
$rdBoxBg:#e9e9e9;
/*color configure*/
$black:#666768;
$white:white;
$blue:#4361ee;
$orange:#ff7d00;
/*media screen configure*/
$screenmd: 992px;
$screenlg: 1200px;
$screenxl: 1400px;
$screensm: 768px;
$screens: 576px;
/*font configure*/
$fontFamily: 'Mark Pro', sans-serif;
$secondFamily: 'Nunito', sans-serif;
$bodySize: 1.6rem;
$htmlSize: 10px;
$sm: 1.2rem;
$fonts: 1.4rem;
$fontm: 1.6rem;
$fontl: 2rem;
$fontlg: 2.5rem;
$fontxl: 3rem;
/*url configure*/
$url: "/";